$primary-white-color: #ffffff;
$primary-black-color: #272727;
$primary-blue-color: #0038fe;
$primary-dark-gray-color: #747474;
$primary-gray-color: #d3d3d3;

$primary-dark-overlay-color: #00000080;
$secondary-simple-green-color: #67dc81;
$secondary-light-green-color: #ddf3e2;
$secondary-red-color: #ff1c1c;
$secondary-light-red-color: #fde7e7;
$secondary-light-grayish-red-color: #eeeded;
$secondary-dark-blue-color: #0132e1;
$secondary-alice-blue-color: #f1f8ff;
$secondary-pale-cornflower-blue-color: #b1d0ff;
$secondary-maya-blue-color: #6bc1ff;
$secondary-bittersweet-color: #ff6a6a;
$secondary-orange-color: #ffad62;

$primary-txt-color: $primary-black-color;

$primary-input-txt-color: $primary-black-color;
$primary-input-bgc-color: $secondary-alice-blue-color;
$primary-input-border-color: $secondary-alice-blue-color;
$primary-input-border-radius: 12px;
$primary-input-focus-txt-color: $primary-black-color;
$primary-input-focus-border-color: $primary-blue-color;
$primary-input-placeholder-txt-color: $primary-dark-gray-color;